<template name="signup">
  <div class="pusher">
    <div class="ui fluid three item text teal inverted large menu">
      <a class="item" href="{{pathFor 'top'}}"><i class="chevron left icon"></i></a>
      <p class="item">Sign Up</p>
      <div class="item"></div>
    </div>
    <form>
      <div class="ui fluid input"><input type="email" name="email" placeholder="Email" required></div>
      <div class="ui fluid input"><input type="password" name="password" placeholder="Password" required></div>
      <input class="ui submit button" type="submit" value="Sign Up"/>
    </form>
  </div>
</template>