<template name="top">

<!-- <div class="ui grid">
  <div class="doubling four column row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
</div> -->

  <div class="pusher">

    <h1 class="ui center aligned header teal">
      Funders
    </h1>

    <br><br><br><br>

    <div class="footer">
      <div class="ui google plus button">
        <i class="google plus icon"></i>
        Continue with Google
      </div>
      <br>
      <br>
      <div class="ui two attached buttons">
        <a class="ui button" href="{{pathFor 'login'}}">Log In</a>
        <a class="ui teal button" href="{{pathFor 'signup'}}">Sign Up</a>
      </div>
    </div>
  </div>
</template>