@media only screen and (max-width: @computerBreakpoint) {
  html.ios {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

/*@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
}*/

.body {
	font-size: 1.5em;
}

.submit {
	width: 100%;
	margin: 1em 0.25em 0em 0em !important;
}

.ui.card {
	margin: 0 auto;
}

.google.plus.button {
	width: 100%;
}

.google.plus.button.login, .signupForm {
	margin-top: 20%;
}

.lineRight {
	margin-right: 1em !important;
}

.lineLeft {
	margin-left: 1em !important;
}

.ui.text.menu {
	margin-top: 0em;
}

.ui.text.menu .item {
	border-top: 1.4em solid transparent !important;
	border-bottom: 0.5em solid transparent;
	/*color: white;*/
}

/*.myLabel {
	font-size: 18px;
	text-align: center;
	margin-top: 40px !important;
	margin-bottom: 30px !important;
}*/

.footer {
	position: fixed !important;
	bottom: 0px;
	width: 100%;
	z-index: 1;
}


/*Title*/
.ui.center.header {
	font-size: 2em;
	padding-top: 25%;
}






